In [75]:
import os.path
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import io
%matplotlib inline

In [76]:
awards = pd.read_csv('academy_awards.csv',  encoding='latin-1')

In [77]:
awards.head()

,Year,Category,Nominee,Additional Info,Won?,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,2010 (83rd),Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},NO,NaN,NaN,NaN,NaN,NaN,NaN
1,2010 (83rd),Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},NO,NaN,NaN,NaN,NaN,NaN,NaN
2,2010 (83rd),Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},NO,NaN,NaN,NaN,NaN,NaN,NaN
3,2010 (83rd),Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},YES,NaN,NaN,NaN,NaN,NaN,NaN
4,2010 (83rd),Actor -- Leading Role,James Franco,127 Hours {'Aron Ralston'},NO,NaN,NaN,NaN,NaN,NaN,NaN

In [78]:
awards.drop(['Unnamed: 5', 'Unnamed: 6','Unnamed: 7','Unnamed: 8','Unnamed: 9','Unnamed: 10',], axis=1, inplace=True)

In [79]:
awards.rename(columns={'Won?': 'Winner','Additional Info': 'Movie'}, inplace=True)

In [80]:
nominations =  awards[awards.Winner == 'NO']

In [81]:
awards =  awards[awards.Winner == 'YES']

In [82]:
awards.head()

,Year,Category,Nominee,Movie,Winner
3,2010 (83rd),Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},YES
5,2010 (83rd),Actor -- Supporting Role,Christian Bale,The Fighter {'Dicky Eklund'},YES
13,2010 (83rd),Actress -- Leading Role,Natalie Portman,Black Swan {'Nina Sayers/The Swan Queen'},YES
17,2010 (83rd),Actress -- Supporting Role,Melissa Leo,The Fighter {'Alice Ward'},YES
22,2010 (83rd),Animated Feature Film,Toy Story 3,Lee Unkrich,YES

In [83]:
awards.shape

(2955, 5)

In [84]:
nominations.shape

(7168, 5)

In [85]:
Directing =  awards[awards.Category == 'Directing']
leadActor =  awards[awards.Category == 'Actor -- Leading Role']
leadActress =  awards[awards.Category == 'Actress -- Leading Role']
supportActor =  awards[awards.Category == 'Actor -- Supporting Role']
supportActress =  awards[awards.Category == 'Actress -- Supporting Role']

DirectingNom =  nominations[nominations.Category == 'Directing']
leadActorNom =  nominations[nominations.Category == 'Actor -- Leading Role']
leadActressNom =  nominations[nominations.Category == 'Actress -- Leading Role']
supportActorNom =  nominations[nominations.Category == 'Actor -- Supporting Role']
supportActressNom =  nominations[nominations.Category == 'Actress -- Supporting Role']

In [86]:
leadActorNom.head()

,Year,Category,Nominee,Movie,Winner
0,2010 (83rd),Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},NO
1,2010 (83rd),Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},NO
2,2010 (83rd),Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},NO
4,2010 (83rd),Actor -- Leading Role,James Franco,127 Hours {'Aron Ralston'},NO
136,2009 (82nd),Actor -- Leading Role,George Clooney,Up in the Air {'Ryan Bingham'},NO

In [87]:
leadActress.shape

(84, 5)

In [88]:
leadActor.head()

,Year,Category,Nominee,Movie,Winner
3,2010 (83rd),Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},YES
135,2009 (82nd),Actor -- Leading Role,Jeff Bridges,Crazy Heart {'Bad Blake'},YES
277,2008 (81st),Actor -- Leading Role,Sean Penn,Milk {'Harvey Milk'},YES
394,2007 (80th),Actor -- Leading Role,Daniel Day-Lewis,There Will Be Blood {'Daniel Plainview'},YES
524,2006 (79th),Actor -- Leading Role,Forest Whitaker,The Last King of Scotland {'Idi Amin'},YES

In [89]:
oscar_win = pd.concat([Directing,leadActor,leadActress,supportActor,supportActress],axis=0,ignore_index=True)

oscar_nom = pd.concat([DirectingNom,leadActorNom,leadActressNom,supportActorNom,supportActressNom],axis=0,ignore_index=True)

In [90]:
oscar_nom.shape

(1575, 5)

In [91]:
awards.groupby('Year').count()

               Category  Nominee  Movie  Winner
Year
1927/28 (1st)        19       19     12      19
1928/29 (2nd)         7        7      7       7
1929/30 (3rd)         8        8      8       8
1930/31 (4th)        15       15      8      15
1931/32 (5th)        16       16     12      16
1932/33 (6th)        22       22     12      22
1934 (7th)           21       21     16      21
1935 (8th)           27       27     16      27
1936 (9th)           30       30     19      30
1937 (10th)          36       36     19      36
1938 (11th)          31       31     18      31
1939 (12th)          36       36     20      36
1940 (13th)          26       26     22      26
1941 (14th)          37       37     23      37
1942 (15th)          34       34     26      34
1943 (16th)          32       32     24      32
1944 (17th)          39       39     24      39
1945 (18th)          30       30     24      30
1946 (19th)          39       39     23      39
1947 (20th)          37       37     24      37
1948 (21st)          36       36     25      36
1949 (22nd)          42       42     27      42
1950 (23rd)          34       34     26      34
1951 (24th)          38       38     26      38
1952 (25th)          42       42     26      42
1953 (26th)          37       37     26      37
1954 (27th)          47       47     26      47
1955 (28th)          37       37     26      37
1956 (29th)          36       36     27      36
1957 (30th)          30       30     20      30
...                 ...      ...    ...     ...
1981 (54th)          42       42     24      42
1982 (55th)          38       38     24      38
1983 (56th)          37       37     24      37
1984 (57th)          38       38     25      38
1985 (58th)          34       34     23      34
1986 (59th)          42       42     24      42
1987 (60th)          41       41     24      41
1988 (61st)          44       44     23      44
1989 (62nd)          34       34     23      34
1990 (63rd)          47       47     24      47
1991 (64th)          43       43     23      43
1992 (65th)          40       40     23      40
1993 (66th)          35       35     23      35
1994 (67th)          53       53     24      53
1995 (68th)          51       51     24      51
1996 (69th)          42       42     24      42
1997 (70th)          47       47     24      47
1998 (71st)          61       61     24      61
1999 (72nd)          41       41     23      41
2000 (73rd)          46       46     23      46
2001 (74th)          47       47     24      47
2002 (75th)          39       39     24      39
2003 (76th)          35       35     24      35
2004 (77th)          40       40     24      40
2005 (78th)          42       42     24      42
2006 (79th)          41       41     24      41
2007 (80th)          36       36     24      36
2008 (81st)          31       31     24      31
2009 (82nd)          43       43     24      43
2010 (83rd)          38       38     24      38

[83 rows x 4 columns]

In [92]:
oscar_win.shape

(404, 5)

In [93]:
oscar_win.head(10)

,Year,Category,Nominee,Movie,Winner
0,2010 (83rd),Directing,The King's Speech,Tom Hooper,YES
1,2009 (82nd),Directing,The Hurt Locker,Kathryn Bigelow,YES
2,2008 (81st),Directing,Slumdog Millionaire,Danny Boyle,YES
3,2007 (80th),Directing,No Country for Old Men,Joel Coen and Ethan Coen,YES
4,2006 (79th),Directing,The Departed,Martin Scorsese,YES
5,2005 (78th),Directing,Brokeback Mountain,Ang Lee,YES
6,2004 (77th),Directing,Million Dollar Baby,Clint Eastwood,YES
7,2003 (76th),Directing,The Lord of the Rings: The Return of the King,Peter Jackson,YES
8,2002 (75th),Directing,The Pianist,Roman Polanski,YES
9,2001 (74th),Directing,A Beautiful Mind,Ron Howard,YES

In [94]:
oscar_win.groupby('Category').head()

,Year,Category,Nominee,Movie,Winner
0,2010 (83rd),Directing,The King's Speech,Tom Hooper,YES
1,2009 (82nd),Directing,The Hurt Locker,Kathryn Bigelow,YES
2,2008 (81st),Directing,Slumdog Millionaire,Danny Boyle,YES
3,2007 (80th),Directing,No Country for Old Men,Joel Coen and Ethan Coen,YES
4,2006 (79th),Directing,The Departed,Martin Scorsese,YES
85,2010 (83rd),Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},YES
86,2009 (82nd),Actor -- Leading Role,Jeff Bridges,Crazy Heart {'Bad Blake'},YES
87,2008 (81st),Actor -- Leading Role,Sean Penn,Milk {'Harvey Milk'},YES
88,2007 (80th),Actor -- Leading Role,Daniel Day-Lewis,There Will Be Blood {'Daniel Plainview'},YES
89,2006 (79th),Actor -- Leading Role,Forest Whitaker,The Last King of Scotland {'Idi Amin'},YES
170,2010 (83rd),Actress -- Leading Role,Natalie Portman,Black Swan {'Nina Sayers/The Swan Queen'},YES
171,2009 (82nd),Actress -- Leading Role,Sandra Bullock,The Blind Side {'Leigh Anne Tuohy'},YES
172,2008 (81st),Actress -- Leading Role,Kate Winslet,The Reader {'Hanna Schmitz'},YES
173,2007 (80th),Actress -- Leading Role,Marion Cotillard,La Vie en Rose {'Edith Piaf'},YES
174,2006 (79th),Actress -- Leading Role,Helen Mirren,The Queen {'The Queen'},YES
254,2010 (83rd),Actor -- Supporting Role,Christian Bale,The Fighter {'Dicky Eklund'},YES
255,2009 (82nd),Actor -- Supporting Role,Christoph Waltz,Inglourious Basterds {'Col. Hans Landa'},YES
256,2008 (81st),Actor -- Supporting Role,Heath Ledger,The Dark Knight {'Joker'},YES
257,2007 (80th),Actor -- Supporting Role,Javier Bardem,No Country for Old Men {'Anton Chigurh'},YES
258,2006 (79th),Actor -- Supporting Role,Alan Arkin,Little Miss Sunshine {'Grandpa'},YES
329,2010 (83rd),Actress -- Supporting Role,Melissa Leo,The Fighter {'Alice Ward'},YES
330,2009 (82nd),Actress -- Supporting Role,Mo'Nique,Precious: Based on the Novel 'Push' by Sapphir...,YES
331,2008 (81st),Actress -- Supporting Role,Penélope Cruz,Vicky Cristina Barcelona {'Maria Elena'},YES
332,2007 (80th),Actress -- Supporting Role,Tilda Swinton,Michael Clayton {'Karen Crowder'},YES
333,2006 (79th),Actress -- Supporting Role,Jennifer Hudson,Dreamgirls {'Effie White'},YES

In [95]:
Director_idx = (oscar_win['Category'] == 'Directing')
oscar_win.loc[Director_idx,['Nominee','Movie']] = oscar_win.loc[Director_idx,['Movie','Nominee']].values

DirectorNom_idx = (oscar_nom['Category'] == 'Directing')
oscar_nom.loc[DirectorNom_idx,['Nominee','Movie']] = oscar_nom.loc[DirectorNom_idx,['Movie','Nominee']].values

In [96]:
oscar_nom.groupby('Category').head()

,Year,Category,Nominee,Movie,Winner
0,2010 (83rd),Directing,Darren Aronofsky,Black Swan,NO
1,2010 (83rd),Directing,David O. Russell,The Fighter,NO
2,2010 (83rd),Directing,David Fincher,The Social Network,NO
3,2010 (83rd),Directing,Joel Coen and Ethan Coen,True Grit,NO
4,2009 (82nd),Directing,James Cameron,Avatar,NO
325,2010 (83rd),Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},NO
326,2010 (83rd),Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},NO
327,2010 (83rd),Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},NO
328,2010 (83rd),Actor -- Leading Role,James Franco,127 Hours {'Aron Ralston'},NO
329,2009 (82nd),Actor -- Leading Role,George Clooney,Up in the Air {'Ryan Bingham'},NO
648,2010 (83rd),Actress -- Leading Role,Annette Bening,The Kids Are All Right {'Nic'},NO
649,2010 (83rd),Actress -- Leading Role,Nicole Kidman,Rabbit Hole {'Becca'},NO
650,2010 (83rd),Actress -- Leading Role,Jennifer Lawrence,Winter's Bone {'Ree'},NO
651,2010 (83rd),Actress -- Leading Role,Michelle Williams,Blue Valentine {'Cindy'},NO
652,2009 (82nd),Actress -- Leading Role,Helen Mirren,The Last Station {'Sofya'},NO
975,2010 (83rd),Actor -- Supporting Role,John Hawkes,Winter's Bone {'Teardrop'},NO
976,2010 (83rd),Actor -- Supporting Role,Jeremy Renner,The Town {'James Coughlin'},NO
977,2010 (83rd),Actor -- Supporting Role,Mark Ruffalo,The Kids Are All Right {'Paul'},NO
978,2010 (83rd),Actor -- Supporting Role,Geoffrey Rush,The King's Speech {'Lionel Logue'},NO
979,2009 (82nd),Actor -- Supporting Role,Matt Damon,Invictus {'Francois Pienaar'},NO
1275,2010 (83rd),Actress -- Supporting Role,Amy Adams,The Fighter {'Charlene Fleming'},NO
1276,2010 (83rd),Actress -- Supporting Role,Helena Bonham Carter,The King's Speech {'Queen Elizabeth'},NO
1277,2010 (83rd),Actress -- Supporting Role,Hailee Steinfeld,True Grit {'Mattie Ross'},NO
1278,2010 (83rd),Actress -- Supporting Role,Jacki Weaver,Animal Kingdom {'Janine 'Smurf' Cody'},NO
1279,2009 (82nd),Actress -- Supporting Role,Penélope Cruz,Nine {'Carla'},NO

In [97]:
oscar_win = oscar_win.replace(dict(Movie={'\ {.*\}': ''}), regex=True)
oscar_win = oscar_win.replace(dict(Year={'\(.*\)': ''}), regex=True)

oscar_nom = oscar_nom.replace(dict(Movie={'\ {.*\}': ''}), regex=True)
oscar_nom = oscar_nom.replace(dict(Year={'\(.*\)': ''}), regex=True)

In [98]:
oscar_win = oscar_win.replace(dict(Nominee={'\ and.*': ''}), regex=True)

oscar_nom = oscar_nom.replace(dict(Nominee={'\ and.*': ''}), regex=True)

In [99]:
oscar_nom.groupby('Category').head()

,Year,Category,Nominee,Movie,Winner
0,2010,Directing,Darren Aronofsky,Black Swan,NO
1,2010,Directing,David O. Russell,The Fighter,NO
2,2010,Directing,David Fincher,The Social Network,NO
3,2010,Directing,Joel Coen,True Grit,NO
4,2009,Directing,James Cameron,Avatar,NO
325,2010,Actor -- Leading Role,Javier Bardem,Biutiful,NO
326,2010,Actor -- Leading Role,Jeff Bridges,True Grit,NO
327,2010,Actor -- Leading Role,Jesse Eisenberg,The Social Network,NO
328,2010,Actor -- Leading Role,James Franco,127 Hours,NO
329,2009,Actor -- Leading Role,George Clooney,Up in the Air,NO
648,2010,Actress -- Leading Role,Annette Bening,The Kids Are All Right,NO
649,2010,Actress -- Leading Role,Nicole Kidman,Rabbit Hole,NO
650,2010,Actress -- Leading Role,Jennifer Lawrence,Winter's Bone,NO
651,2010,Actress -- Leading Role,Michelle Williams,Blue Valentine,NO
652,2009,Actress -- Leading Role,Helen Mirren,The Last Station,NO
975,2010,Actor -- Supporting Role,John Hawkes,Winter's Bone,NO
976,2010,Actor -- Supporting Role,Jeremy Renner,The Town,NO
977,2010,Actor -- Supporting Role,Mark Ruffalo,The Kids Are All Right,NO
978,2010,Actor -- Supporting Role,Geoffrey Rush,The King's Speech,NO
979,2009,Actor -- Supporting Role,Matt Damon,Invictus,NO
1275,2010,Actress -- Supporting Role,Amy Adams,The Fighter,NO
1276,2010,Actress -- Supporting Role,Helena Bonham Carter,The King's Speech,NO
1277,2010,Actress -- Supporting Role,Hailee Steinfeld,True Grit,NO
1278,2010,Actress -- Supporting Role,Jacki Weaver,Animal Kingdom,NO
1279,2009,Actress -- Supporting Role,Penélope Cruz,Nine,NO

In [100]:
oscar_win.dtypes

Year        object
Category    object
Nominee     object
Movie       object
Winner      object
dtype: object

In [101]:
oscar_win.shape

(404, 5)

In [114]:
oscar_nom.isnull().any()

Year        False
Category    False
Nominee     False
Movie       False
Winner      False
dtype: bool

In [111]:
oscar_win.isnull().any()

Year        False
Category    False
Nominee      True
Movie        True
Winner      False
dtype: bool

In [112]:
nans = lambda oscar_win: oscar_win[oscar_win.isnull().any(axis=1)]

In [113]:
nans(oscar_win)

,Year,Category,Nominee,Movie,Winner
84,1927/28,Directing,NaN,"To Charles Chaplin, for acting, writing, direc...",YES
169,1927/28,Actor -- Leading Role,"To Charles Chaplin, for acting, writing, direc...",NaN,YES

In [115]:
oscar_win = oscar_win.drop([oscar_win.index[84],oscar_win.index[169]])

In [116]:
oscar_win.to_pickle("Oscars.pkl")

In [117]:
oscar_nom.to_pickle("OscarNoms.pkl")

In [118]:
oscar_nom.head()

    Year   Category           Nominee               Movie Winner
0  2010   Directing  Darren Aronofsky          Black Swan     NO
1  2010   Directing  David O. Russell         The Fighter     NO
2  2010   Directing     David Fincher  The Social Network     NO
3  2010   Directing         Joel Coen           True Grit     NO
4  2009   Directing     James Cameron              Avatar     NO

    Year   Category          Nominee                   Movie Winner
0  2010   Directing       Tom Hooper       The King's Speech    YES
1  2009   Directing  Kathryn Bigelow         The Hurt Locker    YES
2  2008   Directing      Danny Boyle     Slumdog Millionaire    YES
3  2007   Directing        Joel Coen  No Country for Old Men    YES
4  2006   Directing  Martin Scorsese            The Departed    YES